.print-reservation__body {
  background-color: #1769aa;
  border: 1px solid #1769aa;
  border-radius: 0.2rem;
  margin: 1rem 0 0 0;
  padding: 2rem;
  font-family: 'Poppins';
}

.print-reservation__body-header {
  font-family: 'Poppins';
}

.print-reservation__body-details {
  background-color: #0276aa;
  border: 1px solid #03a9f4;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  font-size: calc(0.5rem + 0.5vw);
  padding: 1rem;
}

.print-reservation__body-details-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}